.more-main-screen {
  height: 100vh;
}

.more-screen .icon-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
  padding-bottom: 40px;
}

.more-screen .icon-row2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
  padding-bottom: 40px;
  border-bottom: var(--main-border);
}

.more-screen .icon-row2 .icon-row2__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-screen .icon-row2 .icon-row2__icon i {
  margin-bottom: 20px;
}

.more-screen .icon-row2 .icon-row2__icon:last-child {
  margin-left: 60px;
}

.more-suggestions {
  margin-top: 35px;
}

.more-suggestions__title {
  font-weight: 600;
  margin-bottom: 35px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  margin-bottom: 10px;
}
